{% load static %}

<script>

/*var c = document.getElementById('canvas');
var ctx = c.getContext('2d');
var imageObj = null;
var rect = {};
var drag = false;   */

var demoWorkspace; 
/*
function init(){
  console.log('init fired..') ;

  c.addEventListener("mousedown", function(e) 
    { 
      mouseDown(c, e); 
    }); 

  c.addEventListener('mouseup', mouseUp, false);
  c.addEventListener('mousemove', function(e) 
    { 
      mouseMove(c, e); 
    });           
}

function mouseDown(canvas, event) {
  let canvasrect = canvas.getBoundingClientRect();
  rect.startX = event.clientX - canvasrect.left;
  rect.startY = event.clientY - canvasrect.top;
  drag = true;
}  

function mouseUp() { 
  drag = false; 
}

function mouseMove(canvas, event) {
    if (drag) {
        let canvasrect = canvas.getBoundingClientRect();  
        ctx.clearRect(0, 0, 640, 480);
        rect.w = (event.clientX  - canvasrect.left) - rect.startX;
        rect.h = (event.clientY - canvasrect.top) - rect.startY;
        ctx.strokeStyle = 'red';
        ctx.strokeRect(rect.startX, rect.startY, rect.w, rect.h);
    }
}

init();

*/

function fBodyResize(evt)
{
  console.log("body resize!");

  hpage = $(window).height();
  wpage = $(window).width();  

  hnavbar = document.getElementById("pageheader").offsetHeight;
  wnavbar = document.getElementById("pageheader").offsetWidth;
  wcontainer = wpage -10;
  hcontainer = hpage-hnavbar;

  containerWindow = document.getElementById("containerWindow");
  containerWindow.style.gridTemplateRows = "520px " + (hcontainer-520-40) + "px"; 
  //containerWindow.style.height = hcontainer + "px";  

  //containerWindow.style.gridTemplateRows = sideWindowHeight + "px " + sideWindowHeight + "px;"
}

function fPageLoad(evt)
{
  fBodyResize();
  openTab(evt,"bloktab")     
  resetPanTilt();  
  editor.resize();     
}

function openTab(evt, tabName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="codeWindowTabContent" and hide them
  tabcontent = document.getElementsByClassName("codewindow_tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";

  if(tabName == "bloktab"){
    if(demoWorkspace == null)
      demoWorkspace = Blockly.inject('blocklyDiv',
          {
            grid:
          {spacing: 25,
           length: 3,
           colour: '#ccc',
           snap: true},
            media: "{% static "/media/" %}",          
            toolbox: document.getElementById('toolbox'),
            zoom:
            {controls: true,
             wheel: true}
            });   
  }

  else if(tabName == "pythontab"){
    var code = Blockly.Python.workspaceToCode(demoWorkspace);
    //code = code.replace(/ /g, '\u00a0');
    //code = code.replace(/\n/g, "<br />");
    //document.getElementById("editor").innerHTML = code;

    editor.session.setValue(code);
  }
}

function saveWorkspace() {
    var xmlDom = Blockly.Xml.workspaceToDom(Blockly.mainWorkspace);
    var xmlText = Blockly.Xml.domToPrettyText(xmlDom);
    
    localStorage.setItem("blockly.xml", xmlText);
}

function loadWorkspace() {
    var xmlText = localStorage.getItem("blockly.xml");
    if (xmlText) {
        Blockly.mainWorkspace.clear();
        xmlDom = Blockly.Xml.textToDom(xmlText);
        Blockly.Xml.domToWorkspace(demoWorkspace, xmlDom);
    }
}

function clearWorkspace(){
  Blockly.mainWorkspace.clear();
}


var editor = ace.edit("editor");
editor.setTheme("ace/theme/monokai");
editor.session.setMode("ace/mode/python");
editor.setFontSize("24px");
editor.setReadOnly(true);  // false to make it editable


</script>