<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>YZYap Demo</title>
  {% load static %}
  <script src="{% static "/js/blockly_compressed.js" %}"></script>
  <script src="{% static "/js/blocks_compressed.js" %}"></script>
  <script src="{% static "/js/python_compressed.js" %}"></script>
  <script src="{% static "/js/en.js" %}"></script>
  <script src="{% static "/js/robot.js" %}"></script>  
  <style>
    body {
      background-color: #fff;
      font-family: sans-serif;
    }
    h1 {
      font-weight: normal;
      font-size: 140%;
    }


  </style>
</head>
<body>
  <h1>YZYap Demosu</h1>
  <p>Msg: {{log}}</p>
  <button onclick="showCode()">Code</button>
  <a href="nesne_ogrenme"> Nesne Öğrenme </a>
  <form action="" method="POST"> {% csrf_token %}
    <table>
      <tr>
        <td colspan="4" align="left">
          <input type="submit" name="submit_code" value="Run Code">
          <input type="submit" name="terminate_code" value="Terminate Code">                   
        </td>
      </tr>
      

        <tr>
          <!--<td><div id="blocklyDiv" style="height: 600px; width: 1280px;"></div></td>-->
          <td><div id="code">{{ form.code }}</div></td>
        </tr>

        <tr>
          <td>
            <img src="http://127.0.0.1:8000/video_feed">
            <img src="http://127.0.0.1:5000/video_feed">
          </td>
        </tr>

    </table>
</form>

  <xml xmlns="https://developers.google.com/blockly/xml" id="toolbox" style="display: none">
    <category name="Robot" colour="%{BKY_COLOUR_HUE}">
      <block type="sag">
        <field name="sag">sağ</field>
      </block>
    </category>

  </xml>

  <script>
    var demoWorkspace = Blockly.inject('blocklyDiv',
        {media: '{% static "/media/" %}',          
         toolbox: document.getElementById('toolbox')});

      function showCode() {
        var code = Blockly.Python.workspaceToCode(demoWorkspace);
        alert(code); 
    }         


    var btnTest = document.getElementById('testButton');
    btnTest.onclick = function() {
          alert("Button pressed!");
      }      
  </script>

</body>
</html>
