{% extends 'streamapp/base.html' %}
{% load static %}

{% block content %}
<div id = "containerWindow" class="grid-container">
  <div id = "codeWindow" class="grid-item code_container">

   <div class="tab">
      <button class="tablinks active" onclick="openTab(event, 'bloktab')">Blok</button>
      <button class="tablinks" onclick="openTab(event, 'pythontab')">Python</button>
      <button class="tablinks" onclick="openTab(event, 'yztab')">Yapay Zeka</button>
      <div style="float:right">
        <button id="trashButton" class="notext" title="...">
          <img src="{% static "/media/1x1.gif" %}" class="trash icon21">
        </button>
        <button id="linkButton" class="notext" title="...">
          <img src="{% static "/media/1x1.gif" %}" class="link icon21">
        </button>
        <button id="runButton" class="notext primary" title="...">
          <img src="{% static "/media/1x1.gif" %}" class="run icon21">
        </button>
      </div>      
    </div>

    <!-- Tab content -->
    <div id="bloktab" class="codewindow_tabcontent">
      <div id="blocklyDiv" style="height: 100%; width: 100%;"></div>      
    </div>

    <div id="pythontab" class="codewindow_tabcontent">
      <p>python</p>
    </div>

    <div id="yztab" class="codewindow_tabcontent">
      <p>Yapay Zeka</p>    
    </div>
  </div>
  <div id = "videoWindow" class="grid-item video_container">
    <div id="tabButton" style="padding:5px">
      <button class="tablinks">Canlı</button>
      <button class="tablinks">İşlenmiş</button>
    </div> 
    <canvas id="canvas" width="640" height="480" style="background: url('http://127.0.0.1:8000/video_feed')" ></canvas>
  </div>
  <div id = "settingsWindow" class="grid-item settings_container">3</div>  
</div>

{% include "streamapp/blockly.html" %}
{% include "streamapp/styles.html" %}

{% endblock %}


{% block javascript %}
<script src="{% static "/js/blockly_compressed.js" %}"></script>
<script src="{% static "/js/blocks_compressed.js" %}"></script>
<script src="{% static "/js/python_compressed.js" %}"></script>
<script src="{% static "/js/en.js" %}"></script>
<script src="{% static "/js/robot.js" %}"></script>  
<!--<script src="{% static "/js/code.js" %}"></script> -->

{% include "streamapp/code.html" %}

{% endblock %}


{% block stylesheet %}
  <!--<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">-->
{% endblock %}


