{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nesne Öğrenme</title>

    <style>
        table, th, td {
  border: 1px solid black;
}
    </style>
</head>
<body>
    <a href="/"> Geri </a><br>
    <canvas id="canvas" width="640" height="480" style="border:1px solid #000000;"></canvas>

    <form action="/nesne_ogrenme/" method="POST"> {% csrf_token %}
        <table>


            <tr>
                <td colspan="1"><div>{{ form.form_x.label }}</div></td>                
                <td colspan="1"><div id="form_x">{{ form.form_x }}</div></td>
            </tr>            

            <tr> 
                <td colspan="1"><div>{{ form.form_y.label }}</div></td>                
                <td colspan="1"><div id="form_y">{{ form.form_y }}</div></td>
            </tr>            
            <tr> 
                <td colspan="1"><div>{{ form.form_width.label }}</div></td>                
                <td colspan="1"><div id="form_width">{{ form.form_width }}</div></td>
            </tr>            
            <tr> 
                <td colspan="1"><div>{{ form.form_height.label }}</div></td>                
                <td colspan="1"><div id="form_height">{{ form.form_height }}</div></td>
            </tr>   
            <tr> 
                <td colspan="1"><div>{{ form.form_etiket.label }}</div></td>                
                <td colspan="1"><div id="form_etiket">{{ form.form_etiket }}</div></td>
            </tr>              
            <tr>
                <td colspan="2" align = "middle"> 
                    <input type="submit" name="teach" value="Öğren">
                </td>
            </tr>        

        </table>
    </form>
      
    <table>
        <tr>
            <th><button onclick="sendrobot(event, 'kafa_sag')">Kafa Sağ </button> </th>             
            <th><button onclick="sendrobot(event, 'kafa_sol')">Kafa Sol </button> </th>
            <th><button onclick="sendrobot(event, 'kafa_yukari')">Kafa Yukarı </button> </th>
            <th><button onclick="sendrobot(event, 'kafa_asagi')">Kafa Aşağı </button> </th>                                                               
        </tr>

        <tr>
            <th><button onclick="sendrobot(event, 'teker_sag')">Teker Sağ </button> </th>             
            <th><button onclick="sendrobot(event, 'teker_sol')">Teker Sol </button> </th>
            <th><button onclick="sendrobot(event, 'teker_ileri')">Teker İleri </button> </th>
            <th><button onclick="sendrobot(event, 'teker_geri')">Teker Geri </button> </th>               
        </tr>        
    </table>
</body>

<script>

var canvas = document.getElementById('canvas');
var ctx = canvas.getContext('2d');
var rect = {};
var drag = false;
var imageObj = null;
var x = document.getElementById("form_x");
var y = document.getElementById("form_y");
var width = document.getElementById("form_width");
var heigth = document.getElementById("form_height");

function ogren_OnClick(){
    console.log("ogren_OnClick happened!");
}

function init() {
    console.log('init happened!')
    imageObj = new Image();
    imageObj.onload = refresh_image;
    imageObj.src = "http://127.0.0.1:8000/video_feed";
    canvas.addEventListener('mousedown', mouseDown, false);
    canvas.addEventListener('mouseup', mouseUp, false);
    canvas.addEventListener('mousemove', mouseMove, false);
}

function refresh_img() {
  console.log("refresh image happened!")
  ctx.drawImage(imageObj, 0, 0); 
}

function mouseDown(e) {
    rect.startX = e.pageX - this.offsetLeft;
    rect.startY = e.pageY - this.offsetTop;
    drag = true;
}

function mouseUp() { 
        drag = false; 
        document.getElementById("id_form_x").value = rect.startX;
        document.getElementById("id_form_y").value = rect.startY;
        document.getElementById("id_form_width").value = rect.w;
        document.getElementById("id_form_height").value = rect.h;
}

function mouseMove(e) {
    if (drag) {
        ctx.clearRect(0, 0, 500, 500);
        ctx.drawImage(imageObj, 0, 0);
        rect.w = (e.pageX - this.offsetLeft) - rect.startX;
        rect.h = (e.pageY - this.offsetTop) - rect.startY;
        ctx.strokeStyle = 'red';
        ctx.strokeRect(rect.startX, rect.startY, rect.w, rect.h);
    }
}
//
init();

</script>
</html>